body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    margin-top: 0;
}

.order-history {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.order-history th, .order-history td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.order-history th {
    background-color: #f5f5f5;
}

.order-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.order-item img {
    width: 100px; /* 固定サイズに変更 */
    height: auto;
    margin-right: 10px;
}

.order-item div {
    flex: 1;
}

.order-item p {
    margin: 5px 0;
}

.order-actions {
    margin-left: 20px;
}

.order-actions form {
    margin-top: 5px;
}

button {
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}
form {
    margin-bottom: 20px;
}

form input[type="text"] {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    padding: 8px 15px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}
