body {
    margin: 0;
    padding: 0;
    overflow-y: visible;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    word-break: break-all;
    word-wrap: break-word;
    color: #434343;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
div {
    max-height: 999999px;
}
dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, div, iframe, caption, hr, fieldset, legend, blockquote, article, aside, details, figcaption, figure, header, main, footer, nav, section, audio, canvas, video {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main{
    padding-top: 0;
    background-color: #ededed;
    padding-top: 32px;
    padding-bottom: 32px;
}

.productList{
    -ms-flex-pack: center;
    justify-content: center;
    background: none;
    margin-top: 32px;
    box-sizing: content-box;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    padding: 0 12px;

    min-width: 990px;
    max-width: 1480px;

    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(690px, 1180px) 300px;
    grid-template-columns: minmax(690px, 1180px) 300px;
}

.product{
    margin: 20px;
    padding: 40px;
    -ms-grid-column: 1;
    grid-column: 1;
    background: #fff;
    border-radius: 16px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr minmax(360px, 1fr);
    grid-template-columns: 1fr minmax(360px, 1fr);
    -webkit-column-gap: 32px;
    column-gap: 32px;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
}
.price,.others{
    position: fixed;
    top: auto;
    margin: 20px;
    -ms-grid-column: 2;
    grid-column: 2;
    background: #fff;
    border-radius: 16px;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: calc(100vh - 32px* 4);
    padding-left: 32px;
    padding-right: 22px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, .345) transparent;
}

.product,.price,.others{
    box-sizing: content-box;
    -ms-grid-row: 1;
    grid-row: 1;
}
.image{
    position: fixed;
    top: auto;
    -ms-grid-column: 1;
    grid-column: 1;
    position: relative;
}
.review{
    -ms-grid-column: 1;
    grid-column: 1;
    background: #fff;
    border-radius: 16px;
    -ms-grid-columns: 1fr minmax(360px, 1fr);
    grid-template-columns: 1fr minmax(360px, 1fr);
    -webkit-column-gap: 32px;
    column-gap: 32px;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    margin: 20px;
}
.reviews{
    border-radius: 14px;
    background: #fff;
    margin-left: 14px;
    box-sizing: content-box;
    margin-top: 20px;
    padding: 40px;
}
.stars {
    gap: 4px;
}

.star {
    font-size: 24px;
}

.star.full {
    color: gold;
}

.star.half {
    background: linear-gradient(to right, gold 50%, lightgray 50%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.star.empty {
    color: lightgray;
    top: 20px;
}

.reviewCount{
    display: flex;
}

.rating-number {
    color: #000;
    margin-left: 0.5em;
}

.productInformation,.storeInformation{
    -ms-grid-column: 1;
    grid-column: 1;
    background: #fff;
    border-radius: 16px;
    -ms-grid-columns: 1fr minmax(360px, 1fr);
    grid-template-columns: 1fr minmax(360px, 1fr);
    -webkit-column-gap: 32px;
    column-gap: 32px;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    margin: 20px;
}
.productInf,.storeInf{
    border-radius: 14px;
    background: #fff;
    margin-left: 14px;
    box-sizing: content-box;
    margin-top: 20px;
    padding: 40px;
}
.productNumber{
    border-bottom: #000000;
}
.productNumber,.productCategory{
    border-top: #000000;
}
.storeInfmation {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    background-color: white;
    margin: 0 auto;
    padding: 0 50px;
    min-width: 1700px;
    max-width: 1480px;
}

.storeInfmation span {
    cursor: pointer; /* カーソルがポインターに変わるように */
}

.storeMenu {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100vw; /* メニューの幅を画面全体に */
    top: 100%; /* メニューをストア名の下に表示 */
    left: 0;
    padding: 10px;
    box-sizing: border-box;
}

.storeMenu .top-section {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.storeMenu .top-section a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.storeMenu .top-section a:hover {
    background-color: #ddd;
}

.storeMenu .bottom-section {
    justify-content: space-around;
}

.storeMenu .bottom-section a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    flex: 1;
    text-align: left;
}

.storeMenu .bottom-section a:hover {
    background-color: #ddd;
}

.storeInfmation:hover .storeMenu {
    display: block;
}
