/* 基本スタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    margin: 0 auto;
    width: 90%;
}

/* サイドバーのスタイル */
.sidebar {
    width: 20%;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.sidebar h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul.parent-categories li {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.sidebar ul.parent-categories li a {
    text-decoration: none;
    color: #333;
}

/* 子カテゴリリストのスタイル */
.child-categories {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.child-categories li {
    padding: 10px;
    white-space: nowrap;
}

.child-categories li a {
    text-decoration: none;
    color: #333;
}

.child-categories li:hover {
    background-color: #f0f0f0;
}

/* 親カテゴリにカーソルを合わせたときに子カテゴリを表示 */
.sidebar ul.parent-categories li:hover .child-categories {
    display: block;
}

/* メインコンテンツのスタイル */
.main-content {
    width: 80%;
}

.viewed-products, .product-list-container, .category-products {
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 商品一覧タイトルのスタイル */
.product-list-title {
    font-size: 1.5em;
    margin-bottom: 10px; /* 商品一覧との間隔 */
}

/* 商品リストラッパーのスタイル */
.product-list-wrapper {
    position: relative; /* スライドボタンの絶対位置を基準にするため */
    overflow: hidden; /* リスト外のコンテンツを隠す */
}

/* 商品リストのスタイル */
.product-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden; /* 横スクロールを有効にする */
    padding: 0;
    margin: 0;
}

/* 商品のスタイル */
.product {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    min-width: 200px;
    max-width: 200px;
    margin-right: 10px;
    box-sizing: border-box; /* 幅の問題を防ぐために追加 */
}

/* 商品画像のスタイル */
.product img {
    max-width: 100%;
    height: auto;
}

.product p {
    margin: 5px 0;
}

/* スライドボタンのスタイル */
.slide-buttonP, .slide-buttonC {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.48);
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px; /* ボタン内のテキストを縦中央に配置 */
    cursor: pointer;
    border: none;
    margin: 0 5px; /* 上下の空白を追加 */
}

/* 商品一覧のスライドボタン */
.slide-buttonP.left {
    left: 10px; /* 調整 */
}

.slide-buttonP.right {
    right: 10px; /* 調整 */
}

/* カテゴリ別商品リストのスライドボタン */
.slide-buttonC.left {
    left: 10px; /* 調整 */
}

.slide-buttonC.right {
    right: 10px; /* 調整 */
}
