body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background-color: #ffffff;
}

header {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1em 0;
    margin: 0 0%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.logo {
    text-align: left;
    margin-right: 10px;
}

.logo img {
    display: inline-block;
    vertical-align: middle;
    max-width: 30%;
    height: auto;
    margin-right: 1px;
}

h2 {
    background-color: #ffffff;
    color: #000000;
    text-align: left;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #f0f0f0;
}

nav .left-side,
nav .right-side {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav li {
    margin: 10px 0;
}

.box {
    width: 200px;
    height: 250px;
    background-color: #ffffff;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

nav button {
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    border: none;
    color: #000000;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    box-sizing: border-box;
}

nav button.large-button {
    width: 250px;
    height: 350px;
    font-size: 24px;
}

nav button:hover {
    background-color: #dfdfdf;
}

footer {
    background-color: #ffffff;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

#profile {
    max-width: 800px;
    margin: auto;
    text-align: center;
}
