@charset "utf-8";blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,table,ul {
    margin: 0;
    padding: 0
}

#yjContentsBody:after,.yj950-3 #yjMain:after,.yjGuid,.yjSkip {
    height: 0;
    display: block
}

#masthead:after,#yjContentsBody:after,.ClearFix:after,.yj950-3 #yjMain:after {
    visibility: hidden;
    content: ".";
    clear: both
}

#CardCaption #CardM,#CardCaption #CardY {
    top: -1.5em;
    position: absolute
}

body {
    text-align: center
}

#wrapper,.yj950-1 #contents,.yj950-2 #contents,.yj950-3 #contents,caption {
    text-align: left
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: 400
}

ol li,ul li {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

code,del,input,ins,kbd,pre,samp,select,table,textarea,var {
    font-size: 100%
}

address,cite,del,dfn,em,ins,samp,strong,th,var {
    font-weight: 400;
    font-style: normal
}

a img {
    border: 0
}

hr.yjSeparation {
    display: none
}

fieldset {
    border: 0
}

#wrapper {
    font-size: medium;
    line-height: 1.56
}

.yjGuid,.yjSkip {
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px
}

.yj950-1 #wrapper,.yj950-2 #wrapper,.yj950-3 #wrapper {
    width: 950px;
    margin: 0 auto;
    padding: 0 10px
}

.yj950-2 #yjMain {
    float: left;
    width: 40pc
}

.yj950-2 #yjSub {
    float: right;
    width: 300px
}

.yj950-3 #yjMain {
    float: left;
    width: 40pc
}

.yj950-3 .yj1stUnit {
    float: right;
    width: 440px
}

.yj950-3 .yj2ndUnit {
    float: left;
    width: 190px
}

.yj950-3 #yjSub {
    float: right;
    width: 300px
}

.yj100per-1,.yj100per-2,.yj100per-3 {
    width: 100%
}

.yj100per-1 #wrapper,.yj100per-2 #wrapper,.yj100per-3 #wrapper {
    min-width: 950px;
    padding: 0 10px
}

.yj100per-2 #yjMain {
    float: left;
    width: 100%;
    margin-left: -310px
}

.yj100per-2 .yjMainGrid {
    margin-left: 310px
}

.yj100per-2 #yjSub {
    float: right;
    width: 300px
}

.yj100per-3 #yjMain {
    float: left;
    width: 100%;
    margin-left: -310px
}

.yj100per-3 .yjMainGrid {
    margin-left: 310px
}

.yj100per-3 .yj1stUnit {
    float: right;
    width: 100%;
    margin-right: -200px
}

.yj100per-3 .yj1stInnerUnit {
    margin-right: 200px
}

.yj100per-3 .yj2ndUnit {
    float: left;
    width: 190px
}

.yj100per-3 #yjSub {
    float: right;
    width: 300px
}

#yjContentsBody,* html #masthead,.yj950-3 #yjMain {
    height: 1%
}

.yjmth img {
    vertical-align: middle;
    border: 0
}

.yjmth a {
    border: 0
}

#footer address,#uft {
    border-top: 1px solid #ccc
}

div.yjmthproplogoarea {
    float: left
}

div.yjmthloginarea {
    float: left;
    margin: 0 0 0 3px;
    font-size: smaller;
    text-align: left;
    line-height: 110%
}

div.yjgrplink,div.yjmthcmnlnkarea {
    text-align: right;
    font-size: smaller
}

div.yjmthcplogoarea {
    float: right
}

div.yjmthcmnlnkarea {
    float: right;
    margin: 10px 3px 0 0;
    line-height: 110%
}

br.yjmthclear {
    clear: both
}

div.yjgrplink {
    line-height: 115%
}

#emg,#emg2,#emg3,#footer,#uft {
    text-align: center
}

div#music div.yjmthloginarea {
    margin-top: 1pc;
    margin-left: 7px
}

div#music div.yjmthcmnlnkarea {
    margin-top: 26px
}

div#music div.yjmthcplogoarea {
    margin-top: 14px
}

#masthead {
    width: 100%;
    height: 41px;
    margin: 4px auto 10px;
    text-align: left
}

#masthead strong {
    font-weight: 700
}

#masthead:after {
    display: block;
    position: relative;
    height: 0
}

* html #masthead .yjmth {
    margin: 0;
    padding: 0
}

@media print {
    div.yjmthloginarea {
        display: none
    }
}

#emg,#emg2,#emg3 {
    margin-bottom: 10px
}

#emg2 br {
    display: none
}

#emg2 table,#emg3 table,#emg table {
    margin: 0 auto;
    text-align: left
}

#yjBreadcrumbs {
    margin-bottom: 10px;
    padding-left: 7px
}

#uft {
    padding: 10px 0
}

#footer address {
    padding: 10px 0 20px;
    font-size: small;
    line-height: 1.4
}

body {
    font: 13px/1.231 verdana,arial,helvetica,clean,sans-serif
}

button,input,select,textarea {
    font: 99% verdana,arial,helvetica,clean,sans-serif
}

table {
    font: 100%
}

code,kbd,pre,samp,tt {
    font-family: monospace;
    line-height: 100%
}

.yjmth {
    margin-top: 10px
}

.floatL {
    float: left
}

.floatR {
    float: right
}

.floatC {
    margin: 0 auto
}

.txtL {
    text-align: left
}

.txtR {
    text-align: right
}

.txtC {
    text-align: center
}

.mt05em {
    margin-top: .5em
}

.mt1em {
    margin-top: 1em
}

.mt2em {
    margin-top: 2em
}

.mb02em {
    margin-bottom: .2em
}

.mb05em {
    margin-bottom: .5em
}

.mb1em {
    margin-bottom: 1em
}

.mb2em {
    margin-bottom: 2em
}

.w5em {
    width: 5em
}

.w8em {
    width: 8em
}

.w10em {
    width: 10em
}

.w15em {
    width: 15em
}

.w20em {
    width: 20em
}

.Txt {
    font-size: 85%
}

.miniTxt {
    font-size: 80%
}

.txtB {
    font-weight: 700
}

.indent2em {
    padding-left: 2em
}

.ClearFix:after {
    display: block;
    height: 0
}

strong {
    font-weight: 700
}

* html .ClearFix {
    height: 1%
}

.ClearFix {
    display: block
}

a:link {
    color: #1c3893
}

#yjPageTitle {
    margin-bottom: 1em
}

.pageTitle_r {
    float: right;
    width: 196px
}

.pageTitle_l {
    float: left
}

#yjPageTitle h1 {
    color: #2c4b79;
    font-size: 200%;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 10px
}

#yjPageTitle .yjTitleLine {
    border-bottom: 2px solid #2c4b79;
    padding-bottom: .3em
}

#yjPageTitle h1 img {
    font-size: 100%
}

#yjPageTitle p {
    font-size: 85%
}

#yjPageTitle a.btnView {
    display: block;
    width: 193px;
    height: 0;
    padding-top: 40px;
    margin-top: .3em;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_ybid.gif)no-repeat;
    overflow: hidden
}

#yjPageTitle a:hover.btnView {
    background-position: 0 -40px
}

#yjPageTitle .floatR strong {
    display: block;
    width: 193px;
    line-height: 1.3
}

#yjStepNavi {
    margin: 0 0 .5em
}

#stepnavi {
    padding: .3em .2em 1em
}

#stepnavi p {
    color: #889bb3;
    font-size: 13px;
    margin-right: 2em
}

#stepnavi .active p {
    color: #153057;
    font-weight: 700
}

#stepnavi .end p {
    color: #153057
}

#stepnavi .line {
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/stepnavi_sprite.gif);
    background-repeat: repeat-x;
    background-position: left -50px
}

#stepnavi .last .line {
    background-image: none
}

#stepnavi .line span {
    display: block;
    width: 18px;
    height: 20px;
    overflow: hidden;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/stepnavi_sprite.gif);
    background-repeat: no-repeat;
    background-position: -40px -75pt
}

#stepnavi .end .line {
    background-position: left 0
}

#stepnavi .end .line span {
    background-position: -20px -75pt
}

#stepnavi .active .line span {
    background-position: 0 -75pt
}

.FromStyle .errorField .yjAlertView {
    font-size: 90%
}

.errorInfoBox {
    display: block;
    padding: .3em .7em;
    margin: .8em 0;
    border: 2px solid #c00;
    background-color: #fff;
    zoom:1}

.FromStyle .errorField .yjAlertView,.errorInfoBox .yjAlertView {
    display: block;
    padding: 1px 3px 3px 22px;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/form_slice.gif)0 .3em no-repeat;
    color: #c00;
    font-weight: 700
}

.errorInfoBox .yjAlertView {
    font-size: 100%
}

.errorInfoBox p {
    padding: 0 3px 3px 20px;
    font-size: 90%
}

.yjMastMark,.yjOptionMark {
    color: #fff;
    padding: .05em .2em;
    margin: 0 .2em;
    font-size: 90%;
    white-space: nowrap
}

.yjOptionMark {
    background-color: #537482
}

.yjMastMark {
    background-color: #cb6765
}

.FromStyle .errorField .yjInfoView {
    display: block;
    padding: 1px 3px 3px 0;
    color: #2c4b79;
    font-size: 90%
}

.FromStyle .imeOn {
    ime-mode: active
}

.FromStyle .imeOff {
    ime-mode: inactive
}

.FromStyle fieldset {
    clear: both;
    margin: 0 0 2em;
    border: 0
}

.FromStyle fieldset .legend,.FromStyle fieldset legend {
    color: #2c4b79;
    font-size: 120%;
    font-weight: 700
}

.FromStyle fieldset .yjCategoryTitle {
    margin-bottom: .5em;
    border-bottom: 1px solid #a7acb4
}

.FromStyle .yjMainArea {
    float: left;
    width: 740px
}

.FromStyle .yjSubArea {
    float: right;
    width: 193px;
    font-size: 80%;
    line-height: 1.2
}

.FromStyle .yjSubArea dl,.FromStyle .yjSubArea p {
    margin: 1em 0
}

.FromStyle .yjSubArea dt {
    font-weight: 700;
    margin-bottom: .3em
}

.FromStyle .yjSubArea dd {
    padding-bottom: .3em;
    line-height: 1.3
}

.FromStyle .yjConfirm .AreaR,.yjInfoBox h3 {
    line-height: 1.2
}

.FromStyle .Column3 .yjSubArea {
    width: 330px;
    float: right;
    text-align: right;
    margin-top: .5em
}

.FromStyle .Column3 .yjMainArea {
    width: 600px
}

.FromStyle .Column3 .yjMainArea .AreaR {
    width: 25pc
}

.FromStyle .ctrlHolder {
    clear: both;
    margin: 0;
    padding: .5em 0
}

.FromStyle .AreaL {
    float: left;
    width: 170px;
    overflow: visible;
    color: #777;
    line-height: 1.2;
    text-align: right
}

.paymentInfo .FromStyle .AreaL {
    width: 190px
}

.FromStyle .AreaR {
    overflow: visible;
    margin-left: 190px;
    width: 730px
}

.paymentInfo .FromStyle .AreaR {
    margin-left: 210px
}

.FromStyle .yjMainArea .AreaR {
    width: 530px
}

.FromStyle .AreaL .label,.FromStyle .AreaL label {
    padding: 0;
    font-size: 85%;
    font-weight: 700
}

.FromStyle .AreaL em {
    font-size: 80%
}

.FromStyle .AreaL storng {
    color: #f30;
    font-size: 85%
}

.FromStyle .formHint {
    margin: .5em 0 .8em;
    padding: 4px 0 0 9pt;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/form_slice.gif)0 -50pc no-repeat;
    color: #666;
    font-size: 80%
}

.formHintAttention {
    font-weight: 700;
    color: #000
}

.FromStyle input {
    font-size: 130%;
    letter-spacing: .1em
}

#InAdminAddress1,#InAdminAddress2,#InAdminAddress3,#InAdminAddress4,#InCardName,#InCardNum,#InCashBackBank1,#InCashBackBank2,#InCashBackName,#InCashBackNum,#InCompanyAddress1,#InCompanyAddress2,#InCompanyAddress3,#InCompanyAddress4,#InCompanyKana,#InCompanyName,#original_paramBankAccountName,#original_paramCompanyAddress1Kana,#original_paramCompanyAddress2Kana,#original_paramCompanyAddress3Kana,#original_paramCompanyBuildKana,#original_paramCompanyCapital,#original_paramCompanyOneBeforeSales,#original_paramCompanyPrefKana,#original_paramItemArticleLicence,#original_paramItemArticleLicenceName,#original_paramItemArticlePref,#original_paramItemBrandName,#original_paramItemBuyOtherMemo,#original_paramItemContactLicence,#original_paramItemExhibitItem,#original_paramItemItemCount,#original_paramItemMailorderNetStoreUrl,#original_paramItemMailorderStoreName,#original_paramItemMediaName,#original_paramItemMedicineLicence,#original_paramItemOtherItem,#original_paramItemProof,#original_paramItemSakeLicence,#original_paramItemTradeCompanyName,#original_paramItemTradePresidentName,#original_paramItemTroubleMemo,#original_paramItemUrl,#original_paramRepresentativeAddress1,#original_paramRepresentativeAddress2,#original_paramRepresentativeAddress3,#original_paramRepresentativeBuild,#original_paramStoreSellerID,#original_paramStoreStoreName,#original_paramStoreStoreNameKana {
    width: 17em
}

#InAdminMail,#InNewMail {
    width: 19em
}

#InAdminKana1,#InAdminKana2,#InAdminName1,#InAdminName2,#InPassword1,#InPassword2 {
    width: 8.9em
}

#InAdminPostNum1,#InAdminPostNum2,#InAdminTel1,#InAdminTel2,#InAdminTel3,#InCardPass,#InCompanyPostNum1,#InCompanyPostNum2,#InCompanyTel1,#InCompanyTel2,#InCompanyTel3,#InPassCode,#original_paramItemFax1,#original_paramItemFax2,#original_paramItemFax3,#original_paramItemMailorderNetStoreMonth,#original_paramItemMailorderNetStoreYear,#original_paramItemMailorderStoreMonth,#original_paramItemMailorderStoreYear,#original_paramItemMediaTimes,#original_paramItemRealStoreMonth,#original_paramItemRealStoreTel1,#original_paramItemRealStoreTel2,#original_paramItemRealStoreTel3,#original_paramItemRealStoreYear,#original_paramItemUsedItemRate,#original_paramItemWholesaleMonth,#original_paramItemWholesaleYear,#original_paramRepresentativeZip1,#original_paramRepresentativeZip2,#original_paramStoreCsTel1,#original_paramStoreCsTel2,#original_paramStoreCsTel3 {
    width: 5em
}

#InCardLimit1,#InCardLimit2 {
    width: 4em
}

#original_paramItemRealStoreAddress,#original_paramItemTradeAddress {
    width: 25em
}

#original_paramRepresentativePresidentNameFirst,#original_paramRepresentativePresidentNameFirstKana,#original_paramRepresentativePresidentNameLast,#original_paramRepresentativePresidentNameLastKana {
    width: 8.5em
}

#CardCaption {
    font-size: 80%;
    position: relative
}

#CardCaption #CardY {
    left: 8.3em
}

.yjInfoBox {
    width: 380px;
    overflow: visible;
    margin-top: 2em;
    padding: .5em 10px;
    border: 1px solid #ccc
}

.yjInfoBox strong {
    font-size: 120%;
    font-weight: 700
}

.yjInfoBox h3 {
    position: relative;
    margin-top: -1.3em;
    padding: 0 .5em;
    background-color: #fff;
    color: #2c4b79;
    font-size: 85%;
    font-weight: 700;
    float: left
}

.yjIdCooperation {
    width: 380px;
    overflow: visible;
    margin-bottom: -1px;
    padding: .5em .7em;
    border: 1px solid #ccc;
    background-color: #fff
}

.yjIdCooperation strong {
    font-size: 120%;
    font-weight: 700
}

.FromStyle input.yjBtnView,.subbox dd,.subbox dt,.subbox h3,.yjBtnView,.yjScrollView {
    font-size: 85%
}

.yjScrollView {
    height: 10em;
    overflow: scroll;
    overflow-x: auto;
    border: 1px solid #ccc
}

.yjScrollView p {
    margin: .5em
}

#SubmitArea {
    margin: 1em 0;
    padding: 1em 0 1em 190px;
    border-top: 1px solid #bdc1c7
}

#SubmitArea hr {
    display: none
}

#SubmitArea .errorField .yjAlertView {
    margin: 0 0 1em;
    color: #000
}

.SubmitArea {
    margin: -1em 0 1em;
    padding: 0 0 1em 190px
}

#BtnSearchBank,#CancelBtn0,#CancelBtn1,#CancelBtn2,#CancelBtn3,#CancelBtn4,#SubmitBtnYid1,#SubmitBtnYid2 {
    margin: 0;
    border: 0;
    text-indent: -9999px
}

#SubmitBtn1On,#SubmitBtn2On,#SubmitBtn3On,#SubmitBtn4On,#SubmitBtn5On,#SubmitBtn6On,#SubmitBtn7On,#SubmitBtn8On,#SubmitBtn9On,#SubmitBtn10On,#SubmitBtn11On,#SubmitBtn12On,#SubmitBtn13On {
    display: block;
    height: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next_slice.gif)no-repeat;
    text-indent: -9999px;
    cursor: pointer
}

#SubmitBtn11On,#SubmitBtn12On,#SubmitBtn13On {
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next11_slice.gif)
}

#SubmitBtn1On:hover,#SubmitBtn2On:hover,#SubmitBtn3On:hover,#SubmitBtn4On:hover,#SubmitBtn5On:hover,#SubmitBtn6On:hover,#SubmitBtn7On:hover,#SubmitBtn8On:hover,#SubmitBtn9On:hover,#SubmitBtn10On:hover,#SubmitBtn11On:hover {
    background-position: 0 -50px
}

#SubmitBtn12On:hover {
    background-position: 0 -150px
}

#SubmitBtn13On:hover {
    background-position: 0 -250px
}

#SubmitBtn1On {
    width: 200px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next_slice.gif)
}

#SubmitBtn2On {
    width: 260px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next2_slice.gif)
}

#SubmitBtn3On {
    width: 380px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next3_slice.gif)
}

#SubmitBtn4On {
    width: 380px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next4_slice.gif)
}

#SubmitBtn5On {
    width: 380px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next5_slice.gif)
}

#SubmitBtn6On {
    width: 410px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next6_slice.gif)
}

#SubmitBtn7On {
    width: 280px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next7_slice.gif)
}

#SubmitBtn8On {
    width: 174px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next8_slice.gif)
}

#SubmitBtn9On {
    width: 340px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next9_slice.gif)
}

#SubmitBtn10On {
    width: 260px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_next10_slice.gif)
}

#SubmitBtn11On {
    width: 300px
}

#SubmitBtn12On {
    width: 200px;
    background-position: 0 -75pt
}

#SubmitBtn13On {
    width: 268px;
    background-position: 0 -200px
}

#CancelBtn0,#CancelBtn1,#CancelBtn2,#CancelBtn3,#CancelBtn4 {
    display: block;
    width: 250px;
    height: 26px;
    padding: 0;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_cancel1.gif)no-repeat;
    cursor: pointer
}

#CancelBtn2 {
    width: 94px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_cancel2.gif);
    margin: 10px 0 0 10px;
    float: left
}

#CancelBtn2Separator {
    width: 20px;
    margin: 10px 0 0 10px;
    float: left;
    color: #999;
    text-align: right
}

.yjBtnView,.yjBtnView:link,.yjBtnView:visited {
    color: #fff
}

#CancelBtn3 {
    width: 20pc;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_cancel3.gif)
}

#CancelBtn0 {
    width: 146px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_cancel0.gif)
}

#CancelBtn4 {
    width: 190px;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_cancel4.gif)
}

#SubmitBtnYid1 {
    width: 301px;
    height: 41px;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_yid1.gif)no-repeat
}

#SubmitBtnYid1,#SubmitBtnYid2 {
    display: block;
    padding: 0;
    cursor: pointer
}

#SubmitBtnYid2 {
    width: 271px;
    height: 28px;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_yid2.gif)no-repeat
}

#BtnSearchAddressAdmin,#BtnSearchAddressCompany,#BtnSearchAddressPresident {
    display: inline-block;
    width: 135px;
    height: 34px;
    margin: 0 0 0 .3em;
    padding: 0;
    border: 0;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_postsearch.gif)no-repeat;
    text-indent: -9999px;
    cursor: pointer
}

#BtnSearchAddressAdmin:hover,#BtnSearchAddressCompany:hover,BtnSearchAddressPresident:hover {
    background-position: 0 -34px
}

#BtnSearchAddressAdmin.disabled,#BtnSearchAddressCompany.disabled {
    background-position: 0 -68px;
    cursor: not-allowed
}

.JsOff #BtnSearchAddressAdmin,.JsOff #BtnSearchAddressCompany {
    display: none!important
}

#BtnSearchBank {
    display: inline-block;
    width: 75pt;
    height: 34px;
    padding: 0;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/btn_banksearch.gif)no-repeat;
    cursor: pointer
}

#BtnSearchBank:hover {
    background-position: 0 -34px
}

#BtnSearchBank.disabled {
    background-position: 0 -68px;
    cursor: not-allowed
}

.JsOff #BtnSearchBank {
    display: none!important
}

.InCashBackBank {
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc
}

.InCashBackBank th {
    width: 140px;
    background: #eee;
    font-weight: 700;
    text-align: left
}

.InCashBackBank td,.InCashBackBank th {
    padding: 5px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

.yjBtnView {
    display: inline-block;
    padding: 2px 8px;
    border: 1px solid #2e4d7b;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/bg_btn.gif)repeat-x #2d4c7a;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

html>body .yjBtnView:hover {
    background-position: 0 -75pt
}

.yjBtnView.disabled {
    background-position: 0 -200px;
    background-color: #d2d2d2;
    border: 1px solid #ccc;
    cursor: default;
    color: #fff
}

.yjBtnView img {
    vertical-align: middle;
    margin: 0 5px 0 0
}

.subbox h3,.yjRegistered h2 {
    margin-bottom: .5em;
    font-weight: 700
}

.subbox {
    padding: .5em 1em;
    border: 1px solid #bdc1c7;
    background-color: #f7f7f7
}

.FromStyle .AreaR.subbox {
    width: 700px
}

.subbox h3 {
    border-bottom: 1px dashed #bdc1c7
}

.subbox dt {
    float: left;
    width: 7em;
    font-weight: 700
}

.subbox dd {
    padding-left: 8em
}

.yjRegistered h2 {
    border-bottom: 1px solid #bdc1c7;
    color: #2c4b79;
    font-size: 120%
}

.yjRegistered .yjSubInputBox {
    margin-bottom: 1em;
    padding: .5em
}

.yjRegistered .yjSubInputBox .legend,.yjRegistered .yjSubInputBox label,.yjRegistered .yjSubInputBox legend {
    font-weight: 400
}

.yjRegistered h2.mb0 {
    margin-bottom: 0
}

.yjRegistered .yjSubInputBox.mt0 {
    margin-top: 0
}

.yjFinishPage h2 {
    color: #2c4b79;
    font-size: 120%;
    font-weight: 700
}

.yjFinishPage .yjSubArea {
    padding: .3em .8em;
    border: 1px solid #bdc1c7;
    background-color: #f7f7f7;
    background-attachment: scroll;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/bg_subarea.gif);
    background-repeat: repeat-x;
    background-position: 0 0;
    box-shadow: inset 1px 0 1px #bfbfbf;
    -webkit-box-shadow: inset 1px 0 1px #bfbfbf;
    -moz-box-shadow: inset 1px 0 1px #bfbfbf
}

.yjFinishPage .ctrlHolder {
    clear: both;
    overflow: hidden;
    margin: 0;
    padding: .5em 0;
    border-bottom: 1px solid #bdc1c7
}

.yjFinishPage .ctrlHolder.end {
    border: 0
}

.yjFinishPage .AreaL {
    float: left;
    width: 170px;
    overflow: visible;
    color: #2c4b79;
    font-weight: 700
}

.yjFinishPage .AreaR {
    overflow: visible;
    margin-left: 190px
}

.JsOff .unComplete,.JsOn .onComplete {
    display: none!important
}

.yjPreviewInputArrow,.yjSubInputBoxArrow {
    display: block;
    position: relative;
    height: 15px;
    margin: -17px 0 0;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/form_slice.gif)12.5em -700px no-repeat;
    line-height: 1px
}

.JsOff .jsOnView,.JsOff .yjPreviewInputArrow,.jsOffView {
    display: none
}

.paymentInfo .yjPreviewInputArrow,.paymentInfo .yjSubInputBoxArrow {
    background-position: 14.5em -700px
}

.yjPreviewInputBox,.yjSubInputBox {
    margin: 9pt 0 .5em;
    padding: 5px;
    border: 1px solid #969696;
    background-attachment: scroll;
    background-color: #f2f2f2;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/bg_subarea.gif);
    background-repeat: repeat-x;
    background-position: 0 0;
    box-shadow: inset 1px 0 1px #bfbfbf;
    -webkit-box-shadow: inset 1px 0 1px #bfbfbf;
    -moz-box-shadow: inset 1px 0 1px #bfbfbf
}

.JsOff .yjPreviewInputBox {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none
}

.yjPreviewInputBox .AreaL {
    line-height: 1.5
}

.JsOff .jsOffView {
    display: block
}

.yjActiveFormOn {
    background: #ffc
}

.FromStyle .yjAutoFormHintOn {
    color: #999
}

#yjBisKind1,#yjBisKind2 {
    font-size: 130%;
    font-weight: 700
}

#yjCompanyNameLabel,#yjCompanyNamePreview {
    font-size: 180%;
    font-weight: 700;
    line-height: 1.4
}

#yjCompanyNamePreview {
    border-bottom: 1px solid #aaa;
    display: inline-block;
    height: 35px;
    min-width: 250px
}

#yjJsPreview {
    display: none
}

.hidewrrap {
    overflow: hidden
}

.innrHideArea {
    padding: 10px 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
    background: #e8e8e8;
    overflow: visible
}

.innrHideAreaArrow {
    position: relative;
    height: 11px;
    margin-top: -21px;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/4001/ja/1.1.0/arrow_innr_area.png)200px 0 no-repeat
}

.innrHideArea .ctrlHolder {
    padding: 15px 0 0
}

.FromStyle .innrHideArea .AreaL {
    width: 164px
}

.FromStyle .yjMainArea .innrHideArea .AreaR {
    width: 524px;
    margin-left: 184px
}

.brandTtl {
    margin-top: 20px;
    padding: 0 0 5px 5px;
    border-bottom: 1px solid #ccc;
    color: #2c4b79;
    font-weight: 700
}

.modalBox .yjAlertView {
    display: block;
    padding: 1px 3px 3px 22px;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/form_slice.gif)0 .3em no-repeat;
    color: #c00;
    font-size: 90%;
    font-weight: 700
}

.JsCardAmerican,.JsCardDiners,.JsCardJcb,.JsCardMaster,.JsCardVisa {
    background-attachment: scroll;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.2/card_slice.gif);
    background-repeat: no-repeat;
    background-position: right .2em
}

.JsCardMaster {
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.2/master_2020.png)no-repeat center right 0/2pc auto;
    line-height: 1.2
}

.JsCardJcb {
    background-position: right -6pc
}

.JsCardAmerican {
    background-position: right -146px
}

.JsCardDiners {
    background-position: right -195px
}

.yjValidationOK {
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/4001/ja/1.1.0/ok.png)no-repeat;
    display: inline-block;
    height: 20px;
    margin-left: 5px;
    text-indent: -9999px;
    width: 33px
}

#yjPasswordLevel {
    display: inline-block;
    font-size: 80%;
    line-height: 1.4;
    margin-left: .5em
}

#yjPasswordLevel span {
    display: block;
    width: 250px;
    height: 8px;
    overflow: hidden;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/password_slice.gif)no-repeat
}

#yjPasswordLevel span.level1 {
    background-position: 0 -50px
}

#yjPasswordLevel span.level2 {
    background-position: 0 -75pt
}

#yjPasswordLevel span.level3 {
    background-position: 0 -150px
}

#yjPasswordLevel span.level4 {
    background-position: 0 -200px
}

.yjWordBreak {
    word-break: break-all
}

.yjWordBreakTxt {
    display: table-cell
}

.wbr {
    clear: both;
    width: 0;
    height: 1px;
    margin-top: -1px;
    white-space: nowrap;
    float: left;
    display: block
}

@media print {
    .noPrint {
        display: none
    }
}

.btnDisabled,.btnLogin,.btnSubmit {
    display: inline-block;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    cursor: pointer
}

.yjInformation {
    margin: .5em 0;
    padding: .2em .5em .2em 35px;
    font-weight: 700;
    border: 2px solid #458936;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/form_slice.gif)8px -393px no-repeat #fff
}

.FromStyle .yidConnect .AreaL {
    width: 270px
}

.FromStyle .yidConnect .AreaR {
    width: 630px;
    margin-left: 290px
}

.yidConnect .inactive {
    font-style: italic
}

.modIDConnect {
    width: 50pc;
    margin: 0 auto 20px;
    border: 1px solid #999;
    background: #fff
}

.modIDConnect .inactive {
    color: #777;
    font-style: italic
}

.modIDConnect dt {
    padding: 7px;
    border-bottom: 1px solid #999;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/form_slice.gif)0 -975pt repeat-x #4266a3;
    color: #fff;
    font-weight: 700;
    line-height: 1
}

.btnLogin,.btnSubmit,a.btnLogin:link,a.btnSubmit:link {
    color: #000
}

.modIDConnect dd {
    padding: 10px
}

.FromStyle .modIDConnect .AreaL {
    width: 270px
}

.FromStyle .modIDConnect .AreaR {
    width: 5in;
    margin-left: 290px
}

.FromStyle .modIDConnect .ctrlHolder {
    padding: 5px 0 0
}

.modIDConnect .loginArea {
    padding: 5px 0 10px;
    border-bottom: 1px solid #a7acb4;
    text-align: center
}

.modIDConnect .btnArea {
    margin: 10px 0;
    font-family: sans-serif
}

.modIDConnect .ft {
    padding: 5px 0 0;
    text-align: center
}

.btnLogin {
    margin-left: 10px;
    padding: 10px 50px;
    border: 1px solid #ffbd30;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #ffe587;
    background: -moz-linear-gradient(top,#fff8dd,#ffdb56);
    background: -webkit-gradient(linear,left top,left bottom,from(#fff8dd),to(#ffdb56))
}

.btnLogin:hover {
    background: -moz-linear-gradient(top,#fffae5,#ffe480);
    background: -webkit-gradient(linear,left top,left bottom,from(#fffae5),to(#ffe480))
}

.btnSubmit {
    padding: 15px 45px;
    border: 1px solid #ffbd30;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #ffe587;
    background: -moz-linear-gradient(top,#fff8dd,#ffdb56);
    background: -webkit-gradient(linear,left top,left bottom,from(#fff8dd),to(#ffdb56));
    font-size: 20px
}

.btnSubmit:hover {
    background: -moz-linear-gradient(top,#fffae5,#ffe480);
    background: -webkit-gradient(linear,left top,left bottom,from(#fffae5),to(#ffe480))
}

.btnCancel {
    padding-left: 25px;
    background: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/form_slice.gif)0 -1499px no-repeat
}

.btnDisabled {
    padding: 15px 45px;
    border: 1px solid #999;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background: #cbcbcb;
    background: -moz-linear-gradient(top,#eee,#b7b7b7);
    background: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#b7b7b7));
    color: #666;
    font-size: 20px
}

a.btnDisabled:link {
    color: #000
}

#ContactBox .note,#ContactBox h3 {
    color: #025db8;
    font-weight: 700
}

.clearR {
    clear: right
}

#ContactBox {
    background-color: #015bb5;
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/9980/ja/1.0.1/bg.png);
    background-position: 0 -10pc;
    background-repeat: repeat-x;
    margin-bottom: 10px;
    padding: 5px;
    width: 186px
}

#ContactBox .body {
    background: #fff;
    padding: 8px
}

#ContactBox h3 {
    font-size: 1pc
}

#ContactBox .msg,#ContactBox address {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center
}

#ContactBox .note,#ContactBox .time {
    text-align: center;
    font-size: 69%
}

.formLongHintBg {
    background-image: url(https://s.yimg.jp/images/bizmgr/pc/img/account/signup/default/ja/1.1.0/form_long_slice.gif)!important;
    background-position: 0 0!important;
    background-repeat: no-repeat!important
}

.yjJsPreview_url_bd {
    margin-top: 10px
}

.agreementPersonalData {
    display: flex;
    margin-top: 24px;
    margin-bottom: 1pc;
    padding: 9pt;
    font-size: 14px;
    background: #f6f6f6;
    border-radius: 4px
}

.agreementPersonalData__icon {
    flex-shrink: 0;
    margin-right: 8px
}

.agreementPersonalData__text {
    line-height: 24px;
    margin-bottom: 1pc;
    font-weight: 700
}

.agreementPersonalData__image {
    display: block;
    margin: 0 auto 1pc
}

.agreementPersonalData__list {
    overflow-y: scroll;
    height: 90pt;
    padding: 1pc;
    background: #fff
}

.agreementPersonalData__term {
    width: 100%;
    margin-bottom: 8px;
    font-weight: 700
}

.agreementPersonalData__description {
    display: flex;
    line-height: 1.48;
    width: 100%;
    margin-bottom: 4px
}

.agreementPersonalData__description:before {
    content: "■";
    flex-shrink: 0
}

.agreementPersonalData__footnote {
    font-weight: 400
}

.agreementPersonalData__footnote:before {
    content: "※"
}
