.flex{
display: flex;
margin-bottom: 1%;
}
label{
margin-right: 5%;
}

.sitemap ul li ul {
margin-top: .5em;
margin-bottom: .75em;
margin-left: 48px;
}

.sitemap ul li ul li {
margin-bottom: .25em;
position: relative;
}

.sitemap ul li ul li::before {
content: "";
position: absolute;
top: -0.5em;
left: -16px;
width: 10px;
height: calc(100% + .75em);
border-left: 1px solid #3972b2;
}

.sitemap ul li ul li:last-child::before {
height: calc(1em + .25em);
}

.sitemap ul li ul li::after {
content: "";
position: absolute;
top: .75em;
left: -16px;
width: 10px;
border-bottom: 1px solid #3972b2;
}

.sitemap{
    height: 250px;
    background-color: #dcdcdc;
    overflow-y: scroll;
    overflow-x: scroll;
}

.leftWidht{
    display: block;
    width: 25%;
    margin-right: 1%;
}

.productList{
    display: block;
    width: 70%;
}

#categories ul {
    list-style-type: none;
    padding-left: 20px;
    border-left: 1px solid #ccc;
    margin-left: 10px;
}
#categories li {
    cursor: pointer;
    margin: 5px 0;
    position: relative;
}
#categories li::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 10px;
    height: 1px;
    background: #ccc;
}
#categories li::after {
    content: '';
    position: absolute;
    left: -10px;
    top: -10px;
    width: 1px;
    height: 20px;
    background: #ccc;
}
#categories > ul > li::before, #categories > ul > li::after {
    display: none;
}
#breadcrumb {
    margin-top: 20px;
}